{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Post edit</h1>

    <div class="container">
        <a class="btn btn-default pull-right" href="{{ path('blog_admin_manager_posts_index') }}">Ir al listado de posts</a>
    </div>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

        <br />

        <input class="btn btn-success pull-right" type="submit" value="Guardar cambios" />
    {{ form_end(edit_form) }}

    <ul class="list-unstyled">
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
