{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Posts list</h1>

    <table>
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Mensaje</th>
                <th>Foto</th>
                <th>Video</th>
                <th>Creado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.message|truncate(200) }}</td>
                <td>
                    {% if post.photo is not empty %}
                        <img src="{{ post.photo }}" class="img-responsive">
                    {% endif %}
                </td>
                <td>
                    {% if post.video is not empty %}
                        <iframe width="600" height="300" src="{{ post.video }}" frameborder="0" allowfullscreen></iframe>
                        <br />
                        <a href="{{ post.video }}" target="_blank" alt="Video del post">Ver video</a>
                    {% endif %}
                </td>
                <td>{% if post.created %}{{ post.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('blog_admin_manager_posts_show', { 'id': post.id }) }}">Detalle</a>
                        </li>
                        <li>
                            <a href="{{ path('blog_admin_manager_posts_edit', { 'id': post.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br />

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-primary" href="{{ path('blog_admin_manager_posts_new') }}">Crear nueva entrada</a>
        </li>
    </ul>
{% endblock %}
