{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Post creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br />
        <input class="btn btn-success pull-right" type="submit" value="Guardar post" />
    {{ form_end(form) }}

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-warning" href="{{ path('blog_admin_manager_posts_index') }}">Ir a la lista</a>
        </li>
    </ul>
{% endblock %}
