{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Post</h1>

    <div class="row">
        <a class="btn btn-default pull-right" href="{{ path('blog_admin_manager_posts_index') }}">Ir al listado de posts</a>
    </div>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Mensaje</th>
                <td>{{ post.message|raw }}</td>
            </tr>
            <tr>
                <th>Foto del post</th>
                <td>
                    {% if post.photo is not empty %}
                        <img src="{{ post.photo }}" class="img-responsive">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Video</th>
                <td>
                    {% if post.video is not empty %}
                        <iframe width="600" height="300" src="{{ post.video }}" frameborder="0" allowfullscreen></iframe>
                        <br />
                        <a href="{{ post.video }}" target="_blank" alt="Video del post">Ver video</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Creado</th>
                <td>{% if post.created %}{{ post.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <br />

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-warning pull-right" href="{{ path('blog_admin_manager_posts_edit', { 'id': post.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Eliminar este post">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
