{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h3>Bienvenido al blog</h3>
    {% if posts|length > 0 %}
        {% for post in posts %}
            <div class="container">
                <div class="col-xs-12 col-sm-6">
                    {% if post.photo is not empty %}
                        <img class="img-responsive" src="{{ post.photo }}" alt="{{ post.title }}"/>
                    {% endif %}
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h1>{{ post.title }}</h1>

                    {% if post.photo is not empty %}
                        <div class="col-xs-12">
                            <a class="btn btn-info" href="{{ post.video }}" target="_blank" alt="Video del post">Ver video</a>
                        </div>
                    {% endif %}

                    <div class="col-xs-12">
                        <label>
                            Autor:
                        </label>
                        <span>
                            {{ post.user.name }}
                        </span>
                    </div>

                    <div class="col-xs-12">
                        <label>
                            Correo:
                        </label>
                        <span>
                            {{ post.user.email }}
                        </span>
                    </div>

                    <div class="col-xs-12">
                        <label>
                            Mensaje:
                        </label>
                        <span>
                            {{ post.message|truncate(200) }}
                            <a href="{{ path('blog_post_show', {'id': post.id}) }}">Seguir leyendo</a>
                        </span>
                    </div>

                </div>
            </div>
            <br />
            <hr />

        {% endfor %}

    {% else %}
        <p>
            No hay posts actualmente
        </p>
    {% endif %}
    <p>
        <a href="{{ path('blog_admin_manager_posts_new') }}" class="btn btn-primary">Agregar una entrada nueva</a>
    </p>
{% endblock %}