{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>{{ post.title }}</h1>

    <hr />

    <div class="row">
        <a class="btn btn-default pull-right" href="{{ path('blog') }}">Ir al listado de posts</a>
    </div>

    <div class="container">
        {% if post.photo is not empty %}
            <img src="{{ post.photo }}" class="img-responsive">
        {% endif %}
    </div>

    <div class="container">
        {% if post.video is not empty %}
            <br />
            <a href="{{ post.video }}" target="_blank" alt="Video del post">Ver video</a>
            <br />
        {% endif %}
    </div>

    <div class="container">
        {{ post.message|raw }}
    </div>

    <div class="row">
        <br />
        <a class="btn btn-default pull-right" href="{{ path('blog') }}">Ir al listado de posts</a>
    </div>

    <div class="row"></div>

    <hr />

{% endblock %}
