{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Listado de lugares cercanos a: {{ userLocation }}</h1>

    <hr />

    <div class="container">
        <form class="form-inline" action="{{ path('search_places') }}" method="get">
            <div class="form-group">
                <label>Seleccione una categoria</label>
                <select id="categories" name="category" class="form-control">
                    {% for category in categories.response.categories %}
                        {% if category.name == categoryName %}
                            {% set active = ' selected' %}
                        {% else %}
                            {% set active = ' ' %}
                        {% endif %}
                        <option value="{{ category.name }}" {{ active }}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </div>

        </form>
    </div>

    <hr />

    <table>
        <thead>
            <tr>
                <th>Nombre del lugar</th>
                <th>Foto del Lugar</th>
                <th>Categorias</th>
                <th>Como llegar</th>
            </tr>
        </thead>
        <tbody>
            {% for place in foursquareResponse.response.venues %}
                <tr>
                    <td>{{ place.name }}</td>
                    <td>
                        {% for photo in photos[place.id].photos.items %}
                            <a href="{{ photo.prefix~'600x600'~photo.suffix }}" target="_blank">
                                <img src="{{ photo.prefix~'80x80'~photo.suffix }}" />
                            </a>
                        {% endfor %}
                    </td>
                    <td>
                        {% for category in place.categories %}
                            <p>{{ category.name }}</p>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="https://www.google.com.mx/maps/@{{ place.location.lat }},{{ place.location.lng }},13z?hl=es" target="_blank">Como llegar a este lugar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}