<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Test Propiedades.com{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">

        <br />

        <a class="pull-right col-xs-12 col-sm-2 btn btn-default" href="{{ path('homepage') }}">Ir al inicio</a>

        {% if app.user == null %}
            <a href="{{ path('login') }}" class="btn btn-info pull-right col-xs-12 col-sm-2">Iniciar session</a>
        {% else %}
            <a href="{{ path('logout') }}" class="btn btn-danger pull-right col-xs-12 col-sm-2">Cerrar session</a>
            <a href="{{ path('blog_admin_manager_posts_index') }}" class="btn btn-warning pull-right col-xs-12 col-sm-2">Ver mis posts</a>
        {% endif %}

    </div>

    <hr />
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>